{% load fmt_isk %}
{% load fmt_int %}
{% load fmt_float %}
{% load fmt_timedelta %}


<table class="table table-striped table-bordered" id="table-transactions">
<thead>
<tr>

</tr>
    {% for field in transaction_fields %}
        <th title="{{field}}">{{field}}</th>
    {% endfor %}

</thead>
    <tbody>
    </tbody>

</table>

<div class="modal fade" id="transShoppinglistModal" tabindex="-1" role="dialog" aria-labelledby="transShoppinglistModal" aria-hidden="true">
<form>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trans-shopping-modal-item-name">Add ITEMNAME to shopping list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <div class="col" style="padding-right:0;">
              <input type="number" class="form-control" id="trans-add-shopping-list-modal-item-quantity" tabindex="-1" placeholder="enter quantity">
            </div>
            <div class="col" style="padding-left:7px;padding-top:7px">
              * <span id="trans-shopping-price-each">???</span> ISK/each = <span id="trans-shopping-list-price-total">???</span> ISK
            </div>
          </div>
        </form>
      </div>
      <input type="hidden" id="trans-add-shopping-list-type-id" name="trans-add-shopping-list-type-id">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit" value="submit" class="btn btn-primary" id="trans-add-shopping-list-save-button">Save</button>

      </div>
    </div>
  </div>
</form>
</div>

<p>Transactions last updated {{dest_char_transactions_scan.scan_start|fmt_timedelta}}</p>

<script>

trans_timestamp = 0;
trans_name_column = 1;
trans_qty_sold=2;
trans_unit_sell=3;
trans_unit_purchase=4;
trans_unit_profit=5;
trans_total_sell=6
trans_total_purchase=7;
trans_total_profit=8;
trans_any_on_market=9;
trans_source_sell_price = 10;
trans_object_id_col = 11;
trans_shopping_list_qty_col = 12


$(function () {
  $('#table-transactions').DataTable({
    searching: false,
    pageLength: 50,
    processing: true,
    serverSide: true,
    order: [[ trans_timestamp, "desc" ]],
    deferLoading: 0,
    lengthChange: false,
    ajax: "{% url 'market:transaction-data' route.pk %}",
    rowCallback: function(row, data, index){
        var name = data[trans_name_column]
        // format name column w/ shopping list link
        if(data[trans_shopping_list_qty_col] === 0){
            // create new shopping list entry
            button_html = '<button type="button" id="trans-add-shopping-list-'+data[trans_object_id_col]+'" style="padding:0;" class="btn btn-link" data-toggle="modal" data-target="#transShoppinglistModal" data-shoppinglistqty=0  data-typename="'+data[trans_name_column]+'"data-typeid='+data[trans_object_id_col]+'>(+)</button> ';
            name = button_html + name;
        }
        else{
            // create edit shopping list entry
            button_html = '<button style="color:yellow;padding:0;" type="button" id="trans-add-shopping-list-'+data[trans_object_id_col]+'" class="btn btn-link" data-toggle="modal" data-target="#transShoppinglistModal" data-shoppinglistqty='+data[trans_shopping_list_qty_col]+' data-typename="'+data[trans_name_column]+'"data-typeid='+data[trans_object_id_col]+'>(x'+data[trans_shopping_list_qty_col]+')</button> ';
            name = button_html + name;

            //$(row).find('td:eq('+trans_name_column+')').html(button_html + data[trans_name_column]);
        }

        //figure out if we should add exhausted indicator
        if(!data[trans_any_on_market]){
            {% if route.colorblind %}
              name = name + " <span style='color:grey;'>(EXHAUSTED)</span>"
            {% else %}
              name = name + " <span style='color:red;'>(EXHAUSTED)</span>"
            {% endif %}
        }
        $(row).find('td:eq('+trans_name_column+')').html(name);
    },
    columnDefs: [
            {
                "render": function ( data, type, row ) {return fmt_quantity_small(data) + " units";},
                "targets": trans_qty_sold
            },
            {
                "render": function ( data, type, row ) {return fmt_isk(data);},
                "targets": trans_unit_sell
            },
            {
                "render": function ( data, type, row ) {return fmt_isk(data);},
                "targets": trans_unit_purchase
            },
            {
                "render": function ( data, type, row ) {return fmt_isk(data);},
                "targets": trans_unit_profit
            },
            {
                "render": function ( data, type, row ) {return fmt_isk(data);},
                "targets": trans_total_sell
            },
            {
                "render": function ( data, type, row ) {return fmt_isk(data);},
                "targets": trans_total_purchase
            },
            {
                "render": function ( data, type, row ) {return fmt_isk(data);},
                "targets": trans_total_profit
            },
            { "visible": false,  "targets": [trans_any_on_market,trans_object_id_col,trans_shopping_list_qty_col, trans_source_sell_price] }
        ]
  });
  //set up modal
    $('#transShoppinglistModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal

      var shopping_list_qty = button.data('shoppinglistqty')
      var typename = button.data('typename')
      var typeid = button.data('typeid')

      $('#trans-shopping-modal-item-name').text("Add " + typename + " to shopping list");
      if(shopping_list_qty === 0){
        $('#trans-add-shopping-list-modal-item-quantity').val(null);
      }
      else{
        $('#trans-add-shopping-list-modal-item-quantity').val(shopping_list_qty);
      }

      $('#trans-add-shopping-list-type-id').val(typeid);
      trans_on_modal_quantity_change();
    })

    $('#transShoppinglistModal').on('shown.bs.modal', function (event) {
    $('#trans-add-shopping-list-modal-item-quantity').focus();
    })
    
      //set up modal ajax
        $("#trans-add-shopping-list-save-button").click(function(e) {
            e.preventDefault();
            obj_id=$('#trans-add-shopping-list-type-id').attr('value')
            qty=$('#trans-add-shopping-list-modal-item-quantity').val();
            $('#trans-add-shopping-list-' + obj_id).text("(x" +qty+ ")")
            $('#trans-add-shopping-list-' + obj_id).css('color', 'yellow');
            $('#transShoppinglistModal').modal('hide');
        });
  });

//update modal quantities on input change
function trans_on_modal_quantity_change(){
    qty = $('#trans-add-shopping-list-modal-item-quantity').val();
    if(qty === null){
      qty = 0;
    }

    obj_id = $("#trans-add-shopping-list-type-id").attr('value');

    // find price in table
    dt = $('#table-transactions').dataTable();
    row_id = dt.fnFindCellRowIndexes(obj_id, trans_object_id_col);
    price = dt.api().cell(row_id, trans_source_sell_price).data()
    total = price * qty;

    $('#trans-shopping-price-each').text(fmt_isk(price));
    $('#trans-shopping-list-price-total').text(fmt_isk(total));
}

$('#trans-add-shopping-list-modal-item-quantity').on('input', trans_on_modal_quantity_change);



function transactions_loader(event){
    $('#table-transactions').DataTable().draw();
    return 5;
};
</script>