{% extends "base.html" %}

{% load humanize %}
{% load static %}
{% load waffle_tags %}

{% block title %}Home{% endblock %}

{% block css %}
    <style type="text/css">
        .profilebox {
            padding: 0px;
        }
        .profilebox h3 {
            margin-top: 5px;
        }
        .profilebox hr {
            margin-top: 5px;
            margin-bottom: 10px;
            border-top: 1px solid darkgray;
        }
        .keytable th {
            text-align: right;
        }
        .keytable td {
            padding-left: 10px;
        }

    </style>
{% endblock %}



{% block content %}
{% if user.is_authenticated %}

<div class="card">
  <div class="card-body">
      <h2>Key added successfully, window closing in 3 seconds.</h2>
  </div>
</div>

<script type="text/javascript">
 function closeWindow() {
    setTimeout(function() {
    window.close();
    }, 3000);
    }

    window.onload = closeWindow();
    </script>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
